.ChangeAvatar{
  top: 0;
  left: 0;
  width: 100%;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  .header{
    width: 100%;
    border-bottom: solid 1px black;
    padding-left: 20px;
    text-align: center;
  }
  .content {
    margin-top: 10px;
    .editor {
      width: 300px;
      margin: auto;
    }
  }
  .footer{
    float: right;
  }
}
