.HomeView {
  margin-top: 30px;
  .img-circle {
    border-radius: 50%;
  }
  .side-bar-left {
    .side-bar-item {
      margin-bottom: 20px;
    }
    .menu {
      background-color: #ffffff;
      border: 2px solid #ffffff;
      border-radius: 8px;
      padding: 20px;
      padding-left: 0px;

      ul {
        list-style: none;
        margin-left: 0px;
        line-height: 30px;
      }
    }

    .btn {
      background: #89D9D0;
      background-image: -webkit-linear-gradient(top, #89D9D0, #89D9D0);
      background-image: -moz-linear-gradient(top, #89D9D0, #89D9D0);
      background-image: -ms-linear-gradient(top, #89D9D0, #89D9D0);
      background-image: -o-linear-gradient(top, #89D9D0, #89D9D0);
      background-image: linear-gradient(to bottom, #89D9D0, #89D9D0);
      -webkit-border-radius: 28;
      -moz-border-radius: 28;
      border-radius: 28px;
      font-family: Arial;
      color: #ffffff;
      font-size: 15px;
      width: 100%;
      padding: 10px 20px 10px 20px;
      text-decoration: none;
    }
    .btn:hover {
      background: #3cb0fd;
      background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
      background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
      background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
      background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
      background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
      text-decoration: none;
    }
  }
  .side-bar-right {
    margin-left: 40px;
    .col-md-2 {
      width: 12.6%;
    }
    .side-bar-item {
      border: 2px solid #ffffff;
      border-radius: 8px;
      background-color: #ffffff;
      margin-bottom: 20px;
      padding: 20px;
      padding-left: 5px;
      color:gray;
      cursor: pointer;
      .col-md-10{
        margin-left: -15px;
        a {
          color: gray;
        }
      }
      .col-md-12{
        margin-top: 20px;
        .has-more {
          position: absolute;
          right: 5px;
          font-size: 30px;
          color: #fff;
          top: 0;
          width: 27%;
          height: 100%;
          background-color: black;
          opacity: 0.5;
          text-align: center;
          &:hover {
            opacity: 0.2;
          }
          i {
            top: 40%;
            position: absolute;
            right: 0;
          }
        }
      }
      .col-md-4{
        padding-left: 4px;
        padding-right: 4px;
      }
      .user-name{
      	font-weight: bold;
      }
      .user-collection{
      	font-weight: bold;
      }
    }
  }
  .no-data {
    background-color: white;
    border-radius: 8px;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 20px;
    padding: 15px;
    .text {
      margin-bottom: 20px;
    }
    .btn-connect-container {
      margin-top: 20px;
      button {
        height: 40px !important;
        border: none;
        border-radius: 5px;
        font-size: 15px;
      }
    }
  }
}
