.CreateCollection {
  color: #828282;
  .col-centered {
    float: none;
    margin: 0 auto;
    background-color: #ffffff;
  }
  .main {
    padding-top: 10px;
    border-radius: 10px;
    padding-bottom: 10px;
    margin-bottom: 50px;
    margin-top: 20px;
    h3{
      font-size: 15px;
      font-weight: bold;
    }
    .Content {
      input {
        margin-top: 14px;
        border: none !important;
        width: 100%;
      }
      .content-header {
        text-align: left;
        height: 50px;
        border: solid #CFCFCF 1px;
        border-radius: 10px;
        padding: 10px;
        h4{
          font-size: 12px;
          top:0;
          position: absolute;
          font-weight: bold;
        }
      }
      .content-body {
        //padding: 20px;
        .col-md-4 {
          margin-top: 20px;
          .search-collaborators {
            width: 250px;
            height: 360px;
            border: solid 1px gray;
            border-radius: 10px;
            margin-top: 5px;
            background-color: #ffffff;
            z-index: 2;
            position: absolute;
            .search-area {
              width: 100%;
              padding: 5px;
              border-bottom: solid 1px gray;
              .input-search{
                width: 100%;
                height: 100%
              }
            }
          }
          .search-result{
            padding: 5px;
            margin-top: 10px;
            overflow-y: auto;
            overflow-x: hidden;
            height: 295px;
            .row {
              margin-top: 5px;
              cursor: pointer;
              &:hover{
                background-color: #cfcfcf;
              }
              .col-md-8 {
                padding-top: 22px;
              }
            }
          }
          .item {
            height: 300px;
            margin: auto;
            text-align: center;
            border: solid #CFCFCF 1px;
            border-radius: 10px;
            position: static;
            overflow: hidden;
            .delete-item{
              position: absolute;
              top: 0px;
              right: 24px;
            }
            .desc {
              height: 120px;
              border-bottom: solid 1px #CFCFCF;
              font-size: 10px;
              padding: 10px;
              padding-top: 20px;
              padding-left: 15px;
              text-align: left;
            }
            .img-footer {
              i {
                margin-top: 8px;
                float: left;
              }
              span {
                font-size: 9px;
                float: left;
                line-height: 30px;
                margin-left: 5px;
              }
            }
            .a-item {
              .add-section {
                margin-top: 100px;
                .inputImage {
                  opacity: 0;
                  position: absolute;
                  height: 200px;
                  margin: 0;
                  right: 0px;
                }
                i {
                  font-size: 60px;
                  cursor: pointer !important;
                }
                color: #828282;
              }
            }
            .img-responsive {
              //border-top-left-radius: 10px;
              //border-top-right-radius: 10px;
              position: static;
              height: 150px;
              margin: 0 auto;
            }
          }

        }
        .col-md-4:hover {
          //background-color: #CFCFCF;
        }
      }
      .content-footer {
        padding: 20px;
        .btn {
          -webkit-border-radius: 28;
          -moz-border-radius: 28;
          border-radius: 10px;
          font-family: Arial;
          color: #ffffff;
          font-size: 15px;
          width: 100%;
          padding: 10px 20px 10px 20px;
          text-decoration: none;
        }
        .btn-discard {
          background-color: #9B9EC0;
        }
        .btn-publish {
          background-color: #89D9D0;
        }
      }
    }
  }
}
