.user-view-about {
  padding: 0;
  font-size: 12px;
  margin-bottom: 20px;

  .left-panel {
    background-color: white;
    padding: 0;
    border-radius: 8px;
    .info-title {
      font-weight: bold;
      padding: 20px 0 20px 20px;
      border-bottom: solid #e9eaf1 2px;
    }
    .info-details {
      margin-left: 20px;
      padding: 20px 5px 20px 0px;
      .info-1 {
        margin-bottom: 20px;
        .info-1-title {
          font-weight: bold;
          padding: 0;
        }
        .info-1-details {
          padding: 0 0 0 20px;
          margin-bottom: 20px;
          .web-icon {
            display: inline-block;
            margin-left: 10px;
            background-color: #2d9cdb;
            color: white;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            padding-left: 5.2px;
            padding-top: 2px;
          }
        }
      }
    }
  }

  .right-panel {
    padding-right: 0;
    padding-left: 30px;

    .exp-body {
      background-color: white;
      border-radius: 8px;
      .exp-title {
        font-weight: bold;
        padding: 20px 0 20px 20px;
        border-bottom: solid #e9eaf1 2px;
      }
      .exp-details {
        padding: 20px;
        .exp-item {
          margin-bottom: 20px;
          .exp-item-default {
            margin-top: 5px;
          }
          .exp-item-title {
            font-weight: bold;
          }
          .exp-item-brand {
            position: relative;
            .brand-title {
              display: inline-block;
            }
            .brand-img {
              padding: 0 10px 0 0;
              position: relative;
              img {
                position: absolute;
                right: 20px;
                width: 10%;
                height: 40px;
              }
            }
          }
          .exp-item-duration {
            .duration-time {

            }
            .d-location {

            }
          }
          .exp-item-details {

          }
        }
      }
    }
  }
}
