.user-view-body {
  padding: 0;
  .left-panel {
    padding: 0;

    .user-info {
      background-color: white;
      font-size: 12px;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 8px;
      .user-ava {
        margin-bottom: 20px;
        text-align: center;
        img {
          margin-top: 30px;
          border-radius: 50%;
          width: 130px;
          height: 130px;
        }
        .btn-camera {
          right: 20px;
        }
      }
      .user-title {
        text-align: center;
        font-weight: bold;
        margin-bottom: 5px;
      }
      .user-info-1 {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 10px;
      }
      .user-pages {
        padding-bottom: 20px;
        margin-bottom: 20px;
        margin-left: 10px;
        color: #2d9cdb;

        .user-pages-icon {
          display: inline-block;
          position: relative;
          width: 100%;
          margin: 0 auto;
          text-align: center;

          .web-icon {
            display: inline-block;
            margin-right: 10px;
            background-color: #2d9cdb;
            color: white;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            padding-top: 2px;
          }
        }
      }
    }

    .similar-profiles {
      background-color: white;
      border-radius: 8px;

      .similar-title {
        padding: 10px 0 10px 10px;
        border-bottom: solid #f4f6fa 2px;
      }
      .similar-list {
        margin-bottom: 20px;
        padding-bottom: 20px;
        .similar-item {
          margin-top: 20px;
          margin-left: 10px;
          img {
            border-radius: 50%;
            width: 60px;
            height: 60px;
            float: right;
          }
          .similar-item-title {
            float: left;
            padding: 10px 0 10px 0;
          }
        }
      }
    }
  }

  .right-panel {
    padding-right: 0;
    .col-md-4{
      padding-left: 5px;
      padding-right: 5px;
    }
    .collection-item{
      overflow: hidden;
      margin-bottom: 10px;
      width: 100%;
      float: left;
      img{
        border-radius: 8px;
        width: 100%;
      }
    }
    .collection-item {
      position: relative;
      cursor: pointer;
      .collection-item-title {
        position: absolute;
        text-align: center;
        width: 100%;
        height: 100%;
        color: #ffffff;
        top:0;
        background-color: gray;
        opacity: 0;
        border-radius: 8px;
        &:hover{
          opacity: 0.8;
        }
        .collection-item-title-text{
          opacity: 1;
          width: 100%;
          position: absolute;
          top: 50%;
          text-align: center;
          font-weight: bold;
        }
        .edit-tool {
          color: #ffffff;
          right: 0;
          position: absolute;
          padding: 5px;
          font-size: 20px;
          i {
            margin-right: 10px;
            &:hover {
              color: black;
            }
          }
        }
      }
    }
  }
}
