.DetailsCollection{
  position: relative;
  .arrow-left{
    background-color: #89D9D0;
    color:#ffffff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    font-size: 30px;
    position: fixed;
    top:40%;
    left: -80px;
    color:#ffffff;
    line-height: 50px;
  }
  .arrow-right{
    background-color: #89D9D0;
    color:#ffffff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    font-size: 30px;
    position: fixed;
    top:40%;
    right: -80px;
  }
  .right-panel{
    .small-btn{
      width: 70px;
      height: 28px;
      font-size: 12px;
    }
    .image-preview{
      min-height: 600px;
      img{
        max-height: 470px;
        max-width: 460px;
        margin: auto;
      }
    }
    .media-items{
      margin-top: 30px;
      .item-active{
        background-color: #338FFF;
      }
      .col-md-3{
        padding-right: 5px;
        padding-left: 5px;
      }
    }
  }
  h1{
    color: red;
  }
  h5{
    font-weight: bold;
  }
  p{
    font-size: 11px;
  }
}
