.user-view-header {
  margin-bottom: 20px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  .user-cover {
    height: 350px;
    position: relative;
    background-color: #d5dddd;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    img {
      position: absolute;
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
      width: 100%;
      height: 100%;
    }
    .btn-camera {
      left: 20px;
      cursor: pointer;
    }
    .cover-btn-container {
      position: absolute;
      bottom: 20px;
      right: 20px;
      float: right;
      .cover-btn {
        margin-right: 10px;
        color: white;
        border: none;
        min-width: 100px;
        height: 35px;
        border-radius: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
      .btn-gray {
        background-color: rgba(141, 141, 141, 0.91);
      }
      .btn-green {
        background-color: rgba(113, 177, 170, 0.91);
      }
      .btn-blue {
        background-color: #2d9cdb;
      }
    }
  }

  .user-menu {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    .user-short {
      display: inline-block;
      margin-left: 40px;
      margin-right: 60px;
      .user-ava {
        margin-right: 10px;
        img {
          border-radius: 50%;
          width: 40px;
          height: 40px;
        }
      }
      .user-name {
        color: #a1a1a1;
      }
    }
    .menu-list {
      display: inline-block;
      .link-to {
        text-decoration: none;
        color: #a1a1a1;
      }
      .menu-item {
        margin-right: 70px;
      }
      .chosen {
        font-weight: bold;
      }
    }
  }
}
