.user-view-network {
  background-color: white;
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-radius: 8px;

  .network-container {
    margin: auto;
    width: 70%;

    .search-bar {
      margin: auto;
      width: 80%;
      padding: 10px;
      input {
        width: 100%;
        height: 35px;
        border: solid 1px;
        border-radius: 40px;
        padding-left: 20px;
      }
    }
    .suggestion-tag {
      margin-bottom: 10px;
      .suggestion-item {
        float: left;
        margin-right: 20px;
        .suggestion-type {
          margin-right: 20px;
        }
        .suggestion-count {

        }
      }
      .expand-btn {
        text-decoration: none;
        color: black;
      }
      .expand-btn:link {
        text-decoration: none;
        color: black;
      }
    }
    .search-result {
      margin-top: 40px;
      .result-item {
        font-size: 12px;
        width: 48%;
        border: solid 1px;
        border-radius: 30px;
        margin-bottom: 10px;
        margin-right: 25px;
        float: left;
        .result-ava {
          padding: 10px;
          img {
            width: 110px;
            height: 110px;
            border-radius: 50%;
          }
        }
        .result-info {
          padding-left: 10px;
          position: relative;
          .info-item {
            position: absolute;
            top: 50px;
            .info-name {
              font-weight: bold;
            }
          }
        }
        .result-btn {
          position: relative;
          button {
            position: absolute;
            top: 50px;
            left: 0;
            color: white;
            font-size: 16px;
            font-weight: bold;
            border: none;
            width: 100px;
            height: 35px;
            border-radius: 20px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          }
          .following-btn {
            background-color: rgba(113, 177, 170, 0.91);
          }
          .follow-btn {
            background-color: #2d9cdb;
          }
        }
      }
    }
  }
}
