.profile-view {
  margin-top: 30px;

  .img-circle {
    border-radius: 50%;
  }

  .side-bar-left {
    .menu-bar {
      background-color: #ffffff;
      border: 2px solid #ffffff;
      border-radius: 8px;
      padding-top: 20px;
      ul {
        list-style: none;
        li {
          margin-bottom: 10px;
          margin-left: -20px;
          color: #a9a9a9;
        }
        hr {
          margin-left: -40px;
          border: solid 1px #f4f6fa;
        }
      }
    }
  }

  @media screen and (max-width: 480px) {
    .side-bar-right {
      left: -14px;
      .profile-details {
        margin-top: 40px;
      }
    }
  }

  .side-bar-right {
    border-radius: 8px;
    background-color: #ffffff;
    margin-left: 30px;
    margin-bottom: 100px;
    padding-left: 0;
    padding-right: 0;

    // general css for all right-side bar in profile_view
    .profile-details {
      width: 100%;
      margin-bottom: 20px;
      font-size: 12px;
      .header-block {
        width: 100%;
        padding: 20px 0 10px 20px;
        border-bottom: solid #e9eaf1 2px;
      }
      .content-block {
        padding: 20px;
        .row {
          .col-element {
            margin: 10px 0 10px 0;
          }
          .add-edu-btn {
            cursor: pointer;
          }
        }
        .form-group {
          border: solid  #e9eaf1 2px;
          border-radius: 8px; 
          padding: 5px 15px 5px 15px;
          color: #56565a;
          margin-bottom: 20px;
          input, select, textarea {
            border: none !important;
            margin-top: 5px;
            width: 100%;
          }
          .pa-2 {
            margin: 10px;
          }
        }
        .full-height {
          height: 100%;
        }
        button {
          margin-top: 20px;
          color: white;
          font-size: 12px;
        }
        .btn-bottom {
          width: 100%;
        }
        .btn-left {
          background-color: #9b9ec0;
        }
        .btn-right {
          background-color: #ff5e3b;
        }
      }
    }
  }
}
