@import 'base';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
.img-circle {
  border-radius: 50%;
}
.btn-start {
	width: 100%;
	height: 52px;
	font-size: 20px;
  color: white;
  margin-bottom: 10px;
}
.btn-start-gray {
	background-color: #849e9b;
}
.btn-start-blue {
	background-color: #2d9cdb;
}
.btn-start-orange {
  background-color: #db3c29;
}
.btn-start-purple {
  background-color: #7c5ac2;
}
.btn-start-green {
  background-color: #47B847;
}
.btn-facebook {
  background-color: #3c66c4;
}
.btn-google {
  background-color: #cf4332;
}
.btn-social {
  i {
    margin-right: 20px;
  }
}
.btn-camera{
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: black;
  text-align: center;
  border-radius: 50%;
  color: #ffffff;
  position: absolute;
  top: 20px;
  &:hover {
    opacity: 0.5;
  }
  .input-image{
    width: 100%;
    position: absolute;
    opacity: 0;
    top: 0;
  }
}
// ==============================================
// custom scrollbar
// set scrollbar class and style-1 id for parent
// set force-overflow for child
.scrollbar {
  height: 700px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 25px;
}

.force-overflow {
  min-height: 450px;
}

#style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
  border-radius: 10px;
}

#style-1::-webkit-scrollbar {
  width: 6px;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #edf2f7;
}

#style-1:hover::-webkit-scrollbar-thumb {
  background-color: #cacbd5;
}
//============================================

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 66px;
  height: 30px;
  top: 25px;
  right: -80px;
  margin-bottom: 20px;
  /* Hide default HTML checkbox */
  input {display:none;}

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ff5e3a;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    right: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #848484;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #848484;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(-34px);
    -ms-transform: translateX(-34px);
    transform: translateX(-34px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 24px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}

.small-btn-container {
  z-index: 1;
  .small-btn {
    margin-right: 10px;
    color: white;
    border: none;
    width: 100px;
    height: 35px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .btn-gray {
    background-color: rgba(141, 141, 141, 0.91);
  }
  .btn-green {
    background-color: rgba(113, 177, 170, 0.91);
  }
  .btn-blue {
    background-color: #2d9cdb;
  }
}



