.confirm-modal {
  text-align: center;
  .confirm-content {
    margin-bottom: 10px;
  }
  .btn-container {
    button {
      width: auto;
      min-width: 20%;
      margin: 10px;
      color: white;
      border: none;
    }
    .btn-confirm {
      background-color: green;
    }
    .btn-cancel {
      background-color: red;
    }
  }
}