.default-header {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: 50px;
  z-index: 1;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.06), 0 6px 20px 0 rgba(0, 0, 0, 0);

  .header-inline {
    float: left !important;
  }

  .arrow-up {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #edeff2;
    margin-top: -25px;
    margin-bottom: 10px;
  }
  .arrow-center {
    margin-left: auto;
    margin-right: auto;
  }
  .arrow-right {
    margin-right: 10%;
    margin-left: auto;
  }

  .g-dropdown {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .unread-message {
      background-color: #cedfdf;
    }
  }

  .header-container {
    margin-left: 10%;
    margin-right: 10%;
    .brand-container {
      padding-top: 0.2%;
      margin-left: 5%;
      .navbar-brand {

      }
    }

    .search-container {
      width: 50%;
      padding-top: 0.6%;
      margin-left: 3%;
      input {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        width: 100%;
      }
      .custom-search-btn {
        border-left: none;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        a:visited {
          color: #858585;
        }
      }
    }

    .notification-container {
      padding-top: 0.8%;
      margin-left: 1%;
      .message-item-status {
        position: absolute;
        right: 10px;
        top: 24px;
        font-style: italic;
        font-size: 12px;
      }
      .notification-form {
        padding: 0;
        margin: 0;
        list-style-type: none;

        .noti-item {
          display: inline;
          max-width: 31px;
          margin-left: 10px;
          position: relative;
          cursor: pointer;

          .notification {
            position: absolute;
            right: -5px;
            color: #fff;
            background-color: red;
            width: 15px;
            height: 15px;
            line-height: 15px;
            text-align: center;
            border-radius: 50%;
            font-size: 10px;
            font-weight: bold;
          }

          .notification-dropdown {
            position: absolute;
            background-color: #ffffff;
            width: 360px;
            top: 45px;
            z-index: 2;
            padding: 10px 0 10px 0;
            border: none;
            border-radius: 15px;
            display: none;
            .notification-top {
              background-color: #edeff2;
              width: 100%;
              margin-top: -10px;
              border-top-left-radius: 15px;
              border-top-right-radius: 15px;
              padding: 5px 0 5px 0;
              text-align: center;
            }
            .notification-bottom {
              background-color: #edeff2;
              width: 100%;
              margin-bottom: -10px;
              border-bottom-left-radius: 15px;
              border-bottom-right-radius: 15px;
              text-align: center;
              padding: 5px;
            }
            .row {
              margin: 0;
              padding: 10px 0 10px 0;
              border-bottom: solid 2px #edeff2;
              .ava-container {
                padding-top: 5px;
                padding-right: 0;
                img {
                  width: 100%;
                }
              }
              .msg-container {
                padding-top: 5px;
                .msg-content {
                  white-space: nowrap;
                  overflow: hidden;
                  max-width: 70%;
                }
              }
              &:hover {
                background-color: rgba(247, 248, 250, 0.89);
              }
            }
          }

          .msg-noti {
            margin-left: -243px;
          }
          .col-noti {
            margin-left: -283px;
          }
        }
      }
    }

    .user-container {
      padding-top: 0.8%;
      margin-left: 1%;
      .user-info {
        display: inline;
        .user-ava {
          width: 31px;
          height: 30px;
          border-radius: 50%;
          margin-right: 5px;
        }
        .user-info-name {
          padding-top: 3%;
          width: 80px;
          white-space: nowrap;
          overflow: hidden;
        }
      }

      .dropdown-i {
        display: inline-block;
        padding-top: 2.5%;
        margin-left: 5px;
        position: relative;
        .a-caret {
          cursor: pointer;
        }

        .dropdown-m {
          border-radius: 30%;
          text-align: center;
          padding: 10px 25px 10px 25px;
          margin-top: 15px;
          margin-left: -44px;
          display: none;
          background-color: white;
          position: absolute;
          z-index: 3;
          .dropdown-inside {
            a {
              padding: 0;
            }
            .dropdown-item {
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
}