.collections-container {
  .collections-list {
    .collections-grid {
      padding: 0 0 0 10px !important;
      margin-bottom: 10px;
      .custom-col {
        padding: 0 0 0 10px !important;
        .collection-item {
          position: relative;
          cursor: pointer;
          margin-bottom: 10px;
          img {
            border-radius: 8px;
            margin: 0 !important;
            width: 100% !important;
          }
          .collection-item-title {
            position: absolute;
            text-align: center;
            width: 100%;
            height: 100%;
            color: #ffffff;
            top: 0;
            background-color: gray;
            opacity: 0;
            border-radius: 8px;
            &:hover {
              opacity: 0.8;
              border-radius: 8px;
            }
            .collection-item-title-text {
              opacity: 1;
              width: 100%;
              position: absolute;
              top: 50%;
              text-align: center;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}
