.search-page {
  background-color: white;
  margin-top: 30px;
  border-radius: 8px;
  padding-bottom: 0 0 0 40px !important;

  .search-container {
    .search-part {
      .search-title {
        border-bottom: solid #e9eaf1 2px;
        margin-top: 20px;
      }

      .search-content {
        border-bottom: solid #e9eaf1 2px;

        .see-all {
          margin: 10px 0 10px 0;
          text-align: center;
        }
      }
      .load-more {
        cursor: pointer;
        text-align: center;
        margin: 20px auto 20px auto;
      }
    }

    .disp-small {
      padding: 0 20% 0 20%;
    }

    .people-part {
      .loading-img {
        margin: 20px;
      }

      .people-item {
        margin-top: 20px;
        border: solid #e9eaf1 2px;
        border-radius: 8px;
        position: relative;

        .people-cover-container {
          height: 120px;
          background-color: #d5dddd;
          border-top-left-radius: 6px;
          border-top-right-radius: 6px;
          .people-cover-img {
            width: 100%;
            height: 100%;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
          }
        }

        .people-ava-container {
          position: absolute;
          top: 30%;
          left: 7%;
          .people-ava-img {
            border-radius: 50%;
            width: 100px;
            height: 100px;
          }
        }

        .people-info {
          padding: 10px 0 10px 22%;
        }
      }
    }

    .collection-part {
      .search-content {
        .loading-img {
          margin: 40px;
        }

        .see-all {
          margin: 20px 0 10px 0 !important;
          text-align: center;
        }
      }
    }

    .collection-small {
      .search-content {
        margin-left: -20px !important;
      }
    }
  }
}
