.login-form {
  margin: 0 auto;
  max-width: 360px;

  .btn-gray {
    background-color: #849e9b;
    width: 100%;
    height: 52px;
    font-size: 20px;
  }

  input {
    margin-bottom: 10px !important;
    border-radius: 5px !important;
    height: 52px !important;
  }

  h5 {
    color: red;
  }

  .input-group {
    .forgot-password-container {
      margin-bottom: 10px;
      float: right;
    }
    .or {
      width: 100%;
      height: 1px;
      background-color: #e6ecf5;
      margin: 30px 0 30px 0;
      .text {
        position: relative;
        top: -10px;
        width: 40px;
        margin: auto;
        background-color: #89d9d0;
      }
    }
  }

  .lock {
    pointer-events: none !important;
    input {
      background-color: #eee !important;
    }
  }
}
