.recover-password {
  width: 360px;
  margin: auto;

  .recover-success {
    p {
      color: white;
      font-size: 14px;
      height: auto;
    }
  }
  .input-group {
    width: 100%;

    input {
      font-size: 12px;
      height: 52px;
      border-radius: 5px !important;
      margin-bottom: 10px;
      padding: 10px;
    }

    .input-lock {
      pointer-events: none;
      background-color: #eee;
    }

    h5 {
      color: red;
    }
  }
}