.register-form {
  margin: 0 auto;
  max-width: 360px;
  background-color: white;
  padding: 20px;
  color: #56565a;

  .error {
    color: red;
  }

  .success {
    color: green;
  }

  .input-lock {
    pointer-events: none;
    background-color: #eee;
  }

  .input-group {
    .lock {
      pointer-events: none;
    }
    .row {
      .form-group {
        background-color: white;
        color: #56565a;
        text-align: left;
        input, select {
          border: solid  #e9eaf1 2px;
          border-radius: 8px;
          width: 100%;
          height: 50px !important;
          margin: 0 !important;
          padding: 10px;
        }
        .react-date-field {
          width: 100%;
          border: 2px solid #e9eaf1 !important;
          border-radius: 8px;
          input {
            border: none;
          }
        }
      }
      .select-gender {
        padding-bottom: 50px;
      }
      .conditions-box {
        color: black;
        margin-bottom: 10px;
        .conditions-text {
          position: relative;
          bottom: 2px;
        }
      }
    }
  }
}

.input-group-lock {
  pointer-events: none !important;
  .row {
    .form-group {
      input, select {
        background-color: #eee !important;
      }
      .react-date-field {
        background-color: #eee !important;
      }
    }
  }
}
