.start-view {
  .btn {
    margin-bottom: 10px;
    height: 52px;
    font-size: 20px;
  }

  .link {
    text-decoration: none !important;
  }

  .link:hover {
    text-decoration: none !important;
  }

  .input-group {
    width: 360px;
    margin: 0 auto;
  }
}
