.start-layout {
	color: white;
	background-color: #89d9d0;
	width: 100%;
	height: 100%;
  position: relative;

	.form-container {
    position: absolute;
    width: 100%;
		top: 30%;
		margin-top: -67.75px;
    padding-bottom: 50px;
    background-color: #89d9d0;
	}

	p {
		font-size: 80px;
		height: 100px;
	}
}



