.change-password {
  .content-block {
    .row {
      a {
        float: right;
        color: #56565A;
      }
      .checkbox-2 {
        position: relative;
        top: 2px;
        margin-right: 10px;
        border: #e9eaf1 2px;
      }
    }
  }
  .messages {
    margin-top: 10px;
    text-align: center;
    .error {
      color: red;
      margin: 0;
    }
    .success {
      color: green;
      margin: 0;
    }
  }
}

.change-password-lock {
  input {
    pointer-events: none;
  }
}
