.edu-exp {
  .content-block {
    padding: 0 !important;
  }
  .edu-lock {
    pointer-events: none !important;
  }
  .edu-item {
    border-bottom: 1px solid #e9eaf1;
    padding: 20px 20px 20px 20px;
    .erase-container {
      margin-bottom: 10px;
      position: relative;
      button {
        border: none;
        background-color: white;
      }
      .erase-icon {
        color: red !important;
        font-size: 15px;
        position: absolute;
        right: 20px;
        bottom: 10px;
        cursor: pointer;
      }
    }
  }
  .new-item {
    background-color: rgba(241, 242, 242, 0.34);
    input, textarea {
      background-color: rgba(241, 242, 242, 0.34);
    }
  }
  .react-date-field {
    border: none;
    width: 100%;
    button {
      color: black !important;
    }
  }
  .action-container {
    padding: 20px;
    .add-edu-btn {
      text-align: center;
      padding: 5px;
      border-radius: 8px;
      background-color: rgba(230, 238, 237, 0.43);
    }
    .add-edu-btn:hover {
      background-color: #e9eaf1;
    }
  }
  .messages {
    margin-top: 10px;
    text-align: center;
    .error {
      color: red;
      margin: 0;
    }
    .success {
      color: green;
      margin: 0;
    }
  }
}