.messages {
  width: 100%;
  font-size: 12px;
  .header-block {
    width: 100%;
    padding: 20px 0 10px 20px;
    border-bottom: solid #e9eaf1 2px;
    .btn-top {
      background-color: #89d9d0;
      color: white;
      width: 90px;
      height: 30px;
      float: right;
      font-size: 12px;
      margin-right: 30px;
    }
  }
  .content-block {
    padding-bottom: 20px;
    height: 600px;
    .message-list {
      height: 600px;
      border-right: solid #e9eaf1 2px;
      padding: 0;
      overflow-y: auto;
      .message-item{
        cursor: pointer;
        &:hover{
          background-color: #cfcfcf;
        }
      }
    }
    .message-item {
      padding-top: 20px;
      border-bottom: solid #e9eaf1 2px;
      float: right;
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
      .col-md-2 {
        padding-left: 4px;
        padding-right: 8px;
      }
      .message-item-name {
        margin-bottom: 10px;
      }
      .message-item-content {
        margin-bottom: 10px;
        overflow: hidden;
        height: 30px;
      }
      .message-item-status {
        margin-bottom: 5px;
        font-style: italic;
        color: #cfcfcf;
      }
      .edit-tool {
        position: absolute;
        top: 7px;
        right: 10px;
        opacity: 0.5;
        font-size: 15px;
        cursor: pointer;
        &:hover {
          opacity: 1;
        }
      }
    }
    .message-details {
      padding-left: 0;
      padding-right: 0;
      overflow-y: hidden;
      hr {
        border: solid #e9eaf1 1px;
        width: 440px;
      }
      .message-details-name {
        margin: 20px;
        input {
          padding-left: 10px;
          padding-top: 0 !important;
          padding-right: 0.4em;
          width: 100%;
          border: none;
          height: 40px;
        }
      }
      .message-details-content {
        background-color: white;
        overflow-y: auto;
        height: 368px;
        margin-left: 10px;
        padding-bottom: 10px;
        .avatar {
          img{
            height: 40px;
          }
        }
        .owner{
          margin-top: 10px;
          .message-content {
            padding-left: 50px;
            text-align: right;
            word-break: break-all;
          }
        }
        .guest{
          margin-top: 10px;
          .avatar {
            padding-right: 0;
          }
          .message-content {
            padding-left: 0;
            padding-right: 50px;
            text-align: left;
            word-break: break-all;
          }
        }
      }
      .message-details-content::-webkit-scrollbar {
        display: none;
      }
      .message-details-reply {
        .input-container {
          border-top: solid #e9eaf1 2px;
          border-bottom: solid #e9eaf1 2px;
        }
        textarea {
          padding-left: 10px;
          padding-top: 0 !important;
          padding-bottom: 70px;
          padding-right: 0.4em;
          height: 100px;
          width: 100%;
          border: none;
        }
        .btn-reply {
          margin: 10px;
          color: #ffffff;
          background-color: #89d9d0;
          width: 100px;
          height: 30px;
          font-size: 12px;
          float: right;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .messages {
    .content-block {
      height: 100%;
      .message-list {
        background-color: white;
        border: none;
        left: -20px;
        .message-item {
          img {
            position: relative;
          }
        }
      }
      .message-details {
        background-color: white;
        left: -20px;
        hr {
          border: solid #e9eaf1 1px;
          position: relative;
          left: -17px;
          width: 200px;
        }
      }
    }
  }
}
