.profile-info {
  .external-page-container {
    margin-top: 2.5%;
    .external-page {
      display: inline-block;
      input {
        width: 600px !important;
      }
    }
  }
  .icon {
    margin-right: 20px;
    padding-top: 4px;
    padding-left: 6px;
    border-radius: 50%;
    color: white;
    background-color: #c8c8c8;
    min-width: 25px;
    min-height: 25px;
    i {
      font-size: 15px;
    }
  }
  .scaled-input {
    height: 28px !important;
  }
  .react-date-field {
    border: none;
    width: 100%;
    button {
      color: black !important;
    }
  }
  .bio {
    height: 170px !important;
    textarea {
      height: 80% !important;
    }
  }
  .lock {
    pointer-events: none;
  }
  .messages {
    margin-top: 10px;
    text-align: center;
    .error {
      color: red;
      margin: 0;
    }
    .success {
      color: green;
      margin: 0;
    }
  }
  .form-group {
    min-height: 75px;
  }
}
.profile-info-lock {
  input {
    pointer-events: none;
  }
}