<!doctype html>
<html lang="en">
<head>
  <title>Ocotur</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div id="root" style="height: 100%"></div>
  <script type="text/javascript">
      var ENVIRONMENT = <%- JSON.stringify(ENVIRONMENT) %>
  </script>
</body>
</html>
