.InputSearch {
  position: relative;
  .search-result {
    border: solid 1px #cfcfcf;
    position: absolute;
    background-color: #ffffff;
    z-index: 2;
    .item {
      margin-bottom: 5px;
      margin-top: 5px;
      margin-left: 5px;
      &:hover {
        background-color: gray;
        cursor: pointer;
      }
    }
  }
}